{% extends "base.html" %}

{% block content %}
    <h2 class="Center">What Password Do You Want?</h2>
    <form action="" method="post" name="login" class="Center">
        <p>
            Please type code send to your phone<br>
            {{ form.code(size=30) }}<br>
        </p>
        </p>
            URL you are trying to log in to<br>
            {{ form.url(size=30)  }}</br>
        </p>   
        <p>
            <input type="submit" value="Generate Pass">
        </p>
        <p>
            <input type="submit" value="Next Password">
        </p>
    </form>
{% endblock %}
