{% extends "base.html" %}

{% block content %}
    <h2 class="Center">Login Here</h2>
    <form action="" method="post" name="login" class="Center">
        <p>
            Please type code send to your phone<br>
            {{ form.code(size=80) }}<br>
        </p>
        </p>
            URL you are trying to log in to<br>
            {{ form.url  }}</br>
        </p>   
        </p>
            Typed password<br>
            {{ form.typedPass  }}</br>
        </p>   
        <p>
            <input type="submit" value="Sign In">
        </p>
    </form>
{% endblock %}
